@font-face {
    font-family: 'YekanBakh';
    src: url(./YekanBakh-Regular.ttf) format('truetype');
    src: url(./YekanBakh-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
